.buttonsRow {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

img {
  cursor: pointer;
  height: 3em;
  width: 3em;
}

input {
  width: 4em;
  height: 4em;
}

.padding {
  padding: 10px;
}

.btn.btn-default {
  /* margin-right: 100px; */
}

/* Animation Styling CSS Framework */

img .BlueButterfly {
  animation: Blue 5s linear;
  position: absolute;
  margin-left: 5%;
  bottom: 0;
  width: 1em;
  height: 1em;
}

@keyframes Blue {
  0% {
    bottom: 0;
    left: 10%;
  }

  100% {
    bottom: 100%;
    left: 70%;
  }
}

img .YellowButterfly {
  animation: Yellow 5s linear;
  position: absolute;
  bottom: 0;
  margin-left: 35%;
}

@keyframes Yellow {
  0% {
    bottom: 0;
    left: 0%;
  }
  100% {
    bottom: 100%;
    left: 10%;
  }
}

img .OrangeButterfly {
  animation: Orange 5s linear;
  position: absolute;
  bottom: 0;
  margin-left: 50%;
}

@keyframes Orange {
  0% {
    bottom: 0%;
  }
  100% {
    bottom: 100%;
  }
}

img .PinkButterfly {
  animation: Pink 5s linear;
  position: absolute;
  bottom: 0;
  margin-right: 20%;
}

@keyframes Pink {
  0% {
    bottom: 0;
    right: 10%;
  }

  100% {
    bottom: 100%;
    right: 70%;
  }
}

img .PurpleButterfly {
  animation: Purple 5s linear;
  position: absolute;
  bottom: 0;
  margin-right: 10%;
}

@keyframes Purple {
  0% {
    bottom: 0%;
    right: 10%;
  }

  100% {
    bottom: 100%;
    right: 70%;
  }
}

/* .Blue {
  animation: Blue 5s linear;
  position: absolute;
  margin-left: 5%;
  bottom: 0;
}

@keyframes Blue {
  0% {
    bottom: 0;
    left: 10%;
  }

  100% {
    bottom: 100%;
    left: 70%;
  }
}

#Yellow {
  animation: Yellow 5s linear;
  position: absolute;
  bottom: 0;
  margin-left: 35%;
}

@keyframes Yellow {
  0% {
    bottom: 0;
    left: 0%;
  }
  100% {
    bottom: 100%;
    left: 10%;
  }
}

#Orange {
  animation: Orange 5s linear;
  position: absolute;
  bottom: 0;
  margin-left: 50%;
}

@keyframes Orange {
  0% {
    bottom: 0%;
  }
  100% {
    bottom: 100%;
  }
}

#Pink {
  animation: Pink 5s linear;
  position: absolute;
  bottom: 0;
  margin-right: 20%;
}

@keyframes Pink {
  0% {
    bottom: 0;
    right: 10%;
  }

  100% {
    bottom: 100%;
    right: 70%;
  }
}

#Purple {
  animation: Purple 5s linear;
  position: absolute;
  bottom: 0;
  margin-right: 10%;
}

@keyframes Purple {
  0% {
    bottom: 0%;
    right: 10%;
  }

  100% {
    bottom: 100%;
    right: 70%;
  }
} */
