.buttons {
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  text-align: center;
  z-index: 100;
  width: 90%;
  background-color: white;
  min-height: 20vh;
  /* top: 27em; */
}

button {
  width: 4em;
  height: 4em;
}

.morePadding {
  padding-top: 10px;
}

.btn.btn-default {
  /* margin-right: 100px; */
}

.BlueButterfly {
  background-image: url("../../feature_butterflies/BlueButterfly.png");
  background-size: cover;
  border: 1px solid white;
  border-radius: 50%;
}

.PinkButterfly {
  background-image: url("../../feature_butterflies/PinkButterfly.png");
  background-size: cover;
  border: 1px solid white;
  border-radius: 50%;
}

.OrangeButterfly {
  background-image: url("../../feature_butterflies/OrangeButterfly.png");
  background-size: cover;
  border: 1px solid white;
  border-radius: 50%;
}

.YellowButterfly {
  background-image: url("../../feature_butterflies/YellowButterfly.png");
  background-size: cover;
  border: 1px solid white;
  border-radius: 50%;
}

.PurpleButterfly {
  background-image: url("../../feature_butterflies/PurpleButterfly.png");
  background-size: cover;
  border: 1px solid white;
  border-radius: 50%;
}
