.buttons {
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  text-align: center;
  z-index: 100;
  width: 90%;
  background-color: white;

  /* top: 27em; */
}

button {
  width: 4em;
  height: 4em;
}

.morePadding {
  padding-top: 10px;
}

.btn.btn-default {
  /* margin-right: 100px; */
}

.BlueButterfly {
  background-image: url('../../feature_butterflies/BlueButterfly.png');
  background-size: cover;
}

.PinkButterfly {
  background-image: url('../../feature_butterflies/PinkButterfly.png');
  background-size: cover;
}

.OrangeButterfly {
  background-image: url('../../feature_butterflies/OrangeButterfly.png');
  background-size: cover;
}

.YellowButterfly {
  background-image: url('../../feature_butterflies/YellowButterfly.png');
  background-size: cover;
}

.PurpleButterfly {
  background-image: url('../../feature_butterflies/PurpleButterfly.png');
  background-size: cover;
}

/* Animation Styling CSS Framework */

.animated {
  width: 100px;
  height: 100px;
  background-image: url('../../feature_butterflies/BlueButterfly.png');
  animation: Blue 5s linear;
  position: absolute;
  margin-left: 5%;
  bottom: 0;
}

.Blue {
  width: 100px;
  height: 100px;
  background-image: url('../../feature_butterflies/BlueButterfly.png');
  animation: Blue 5s linear;
  position: absolute;
  margin-left: 5%;
  bottom: 0;
}

@keyframes Blue {
  0% {
    bottom: 0;
    left: 10%;
  }

  100% {
    bottom: 100%;
    left: 70%;
  }
}

#Yellow {
  animation: Yellow 5s linear;
  position: absolute;
  bottom: 0;
  margin-left: 35%;
}

@keyframes Yellow {
  0% {
    bottom: 0;
    left: 0%;
  }
  100% {
    bottom: 100%;
    left: 10%;
  }
}

#Orange {
  animation: Orange 5s linear;
  position: absolute;
  bottom: 0;
  margin-left: 50%;
}

@keyframes Orange {
  0% {
    bottom: 0%;
  }
  100% {
    bottom: 100%;
  }
}

#Pink {
  animation: Pink 5s linear;
  position: absolute;
  bottom: 0;
  margin-right: 20%;
}

@keyframes Pink {
  0% {
    bottom: 0;
    right: 10%;
  }

  100% {
    bottom: 100%;
    right: 70%;
  }
}

#Purple {
  animation: Purple 5s linear;
  position: absolute;
  bottom: 0;
  margin-right: 10%;
}

@keyframes Purple {
  0% {
    bottom: 0%;
    right: 10%;
  }

  100% {
    bottom: 100%;
    right: 70%;
  }
}
