html {
  height: 100%;
}

body {
  height: 100%;
}

#header {
  margin: 10px;
  margin-top: 10px;
  padding: 0;
  position: sticky;
  font-size: 4em;
  font-weight: bold;
}

#handwashing {
  width: 4em;
  height: 4em;
  display: inline-block;
  /* position: relative; */
  bottom: 5em;
  /* left: 65em; */
}

.buttonSize {
  width: 4em;
  height: 4em;
}

img {
  width: 4em;
  height: 4em;
}

/* .container-fluid.buttons */
.buttons {
  position: relative;
  display: inline-flex;
  justify-content: space-between;

  /* top: 27em; */
}

.btn.btn-default {
  /* margin-right: 100px; */
}

#farRightBttn {
  margin-right: 0;
  /* margin-left: 50px; */
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1em;
  background-color: black;
}

.containerFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

figure {
  text-align: center;
  padding-top: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

/* Animation Styling CSS Framework */

#BlueButterflies {
  animation: Blue 5s linear;
  position: absolute;
  margin-left: 5%;
  bottom: 0;
}

@keyframes Blue {
  0% {
    top: 0px;
    left: -10px;
  }

  100% {
    top: -1500px;
  }
}

#YellowButterflies {
  animation: Yellow 5s linear;
  position: absolute;
  bottom: 0;
  margin-left: 35%;
}

@keyframes Yellow {
  0% {
    top: 0px;
    left: -95px;
  }
  100% {
    top: -1500px;
  }
}

#OrangeButterflies {
  animation: Orange 5s linear;
  position: absolute;
  bottom: 0;
  margin-left: 50%;
}

@keyframes Orange {
  0% {
    top: 0px;
    left: -30px;
  }
  100% {
    top: -1500px;
  }
}

#PinkButterflies {
  animation: Pink 5s linear;
  position: absolute;
  bottom: 0;
  margin-right: 20%;
}

@keyframes Pink {
  0% {
    top: 0px;
    left: 650px;
  }

  100% {
    top: -1500px;
  }
}

#PurpleButterflies {
  animation: Purple 5s linear;
  position: absolute;
  bottom: 0;
  margin-right: 10%;
}

@keyframes Purple {
  0% {
    top: 0px;
    left: 850px;
  }

  100% {
    top: -1500px;
  }
}
