.infoModal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 300;
  background-color: rgba(0, 0, 0, 0.2);
}

.infoModalContent {
  background-color: lightblue;
  margin: 10% auto;
  padding: 1%;
  border: 1px solid #888;
  border-radius: 10px;
  width: 60%;
  color: #333;
}

.modalHeader {
  padding: 2px;
}

.modalBody {
  padding: 2px 16px;
  background-color: white;
  border-radius: 10px 10px 0 0;
}

.modalFooter {
  background-color: white;
  border-radius: 0 0 10px 10px;
  padding: 2px;
  text-align: center;
}

.modalButton {
  font-size: 14px;
  margin-bottom: 8px;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: lightblue;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 8em;
  height: 3em;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-height: 375px) {
  .infoModalContent {
    margin: 5% auto;
  }
}

@media screen and (max-height: 320px) {
  .infoModalContent {
    margin: 3% auto;
    width: 85%;
  }
}

@media screen and (max-height: 411px) {
  .infoModalContent {
    margin: 5% auto;
  }
}

@media screen and (min-height: 640px) {
  .infoModalContent {
    margin: 25% auto;
  }
}

@media screen and (min-height: 800px) {
  .infoModalContent {
    margin: 25% auto;
  }
}
