.sky {
  height: 62vh;
  background-color: lightblue;
  z-index: 0;
}

img {
  width: 4em;
  height: 4em;
}

.buttons {
  position: relative;
  display: inline-flex;
  justify-content: space-between;

  /* top: 27em; */
}

.btn.btn-default {
  /* margin-right: 100px; */
}
