/* #container {
  min-height: 100%;
  position: relative;
} */

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin: 0;
  height: 9.65em; /* or however high you would like */
}

@media screen and (max-width: 540px) {
  .footer {
    height: 10.5em;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    height: 11.5em;
  }
}
